.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dot {
    stroke: #000;
}

.legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}